/* Universal */
*{
    background-color: rgb(107, 65, 91);
    font-weight: 900;
    color: rgb(250, 240, 240);
}
h1{
    color: aqua;
     font-family: 'Courier New', Courier, monospace;
}
.p{
    color: rgb(255, 12, 202);
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
/* tag name */
a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
h6 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
/* Attribute Selector */
input[type="text"] {
    border-radius: 6px;
    
}
/* ID selector */
#My-ID {
    max-width: 600px;
    width: auto;
    background-color: rgb(92, 231, 11);
    border: 1px dotted blue;
}

    
.id{
    color: blue !important;
}